<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>MyPortfolio</display-name>
	<listener>
		<listener-class>com.start.Begin</listener-class>
	</listener>
	<servlet>
		<servlet-name>SaveMessage</servlet-name>
		<display-name>SaveMessage</display-name>
		<description></description>
		<servlet-class>com.controller.SaveMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<display-name>AdminLogin</display-name>
		<description></description>
		<servlet-class>com.controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteMessage</servlet-name>
		<display-name>DeleteMessage</display-name>
		<description></description>
		<servlet-class>com.controller.DeleteMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Project</servlet-name>
		<display-name>Project</display-name>
		<description></description>
		<servlet-class>com.controller.Project</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Education</servlet-name>
		<display-name>Education</display-name>
		<description></description>
		<servlet-class>com.controller.Education</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Resume</servlet-name>
		<display-name>Resume</display-name>
		<description></description>
		<servlet-class>com.controller.Resume</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveMessage</servlet-name>
		<url-pattern>/SaveMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteMessage</servlet-name>
		<url-pattern>/DeleteMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Project</servlet-name>
		<url-pattern>/Project</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Education</servlet-name>
		<url-pattern>/Education</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Resume</servlet-name>
		<url-pattern>/Resume</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
